<section>
  <div class="main-content container py-gap lg:py-3xl">
    <% ArticlePage.published.take(20).zip(%w[left right]).each do |(page, side)| %>
      <%= render Pages::Summary.from_page(page, side: side) %>
    <% end %>
  </div>
</section>
