<section>
  <%= render PageHeader.new(title: "Articles") %>
  <section>
    <div class="main-content container">
      <% ArticlePage.published.each do |page| %>
        <div>
          <h2>
            <%= link_to_page page do %>
              <%= page.title %>
            <% end %>
          </h2>
          <div>
            <%= page.description %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</section>
