---
title: <%= title %>
author: Ross Kaffenberger
layout: article
summary: Here is the summary
description: Here is the description that will show up in the the meta day
published: "<%= (Date.today + 7).to_date %>"
draft: true
tags:
  - Rails
---

Hello World
