require "rails_helper"

RSpec.describe "<%= title %>", type: :system do
  it "displays the article content" do
    visit "/articles/<%= article_file_name %>"

    expect(document).to have_content "<%= title %>"
  end
end
