# Run 'bin/rails secret' on the command line to set secret key base
secret_key_base: replace-me

company:
  mailing_address: "PO Box 1234, New York, NY 12345"

litestream:
  # minio s3-like object store database
  # docker run -p 9000:9000 -p 9001:9001 minio/minio server /data --console-address ":9001"
  bucket: joyofrails-data.localhost:9000
  access_key_id: minioadmin
  secret_access_key: minioadmin

postmark:
  api_token: POSTMARK_API_TEST

emails:
  test_recipient: user@example.com
  transactional_from_address: hello@example.com
  transactional_from_name: Joy of Rails
  broadcast_from_address: hello@example.com
  broadcast_from_name: Joy of Rails

seeds:
  admin_email: admin@example.com
  admin_password: password

# Run 'bin/rails console' on the command line. In the console, run 'WebPush.generate_key' and replace both keys below
vapid:
  subject: "mailto:hello@example.com"
  public_key: replace-me
  private_key: replace-me
