# Run 'bin/rails secret' on the command line to set secret key base
secret_key_base: replace-me

litestream:
  # minio s3-like object store database
  # docker run -p 9000:9000 -p 9001:9001 minio/minio server /data --console-address ":9001"
  bucket: joyofrails-data.localhost:9000
  access_key_id: minioadmin
  secret_access_key: minioadmin

seeds:
  admin_email: admin@example.com
  admin_password: password

# Run 'bin/rails console' on the command line. In the console, run 'WebPush.generate_key' and replace both keys below
vapid:
  public_key: replace-me
  private_key: replace-me
