<%# locals: (text:) -%>

<div data-controller="clipboard-copy" class="clipboard-copy-container mr-4 mt-4">
  <button aria-label="Copy to clipboard" type="button" class="
    text-gray-500 dark:text-gray-400 group
    rounded-md text-sm p-2 relative"
    data-action="clipboard-copy#copy"
    data-clipboard-copy-target="source"
    data-value="<%= text %>">
    <span class="absolute top-0 left-[-65px] hidden group-focus:inline p-2 text-white font-semibold bg-black rounded-m">Copied!</span>
    <%= inline_svg_tag "copy-text.svg", class: "copy-text inline-block cursor-pointer fill-current group-focus:hidden" %>
    <%= inline_svg_tag "check-mark.svg", class: "check-mark hidden fill-green-600 group-focus:inline-block" %>
  </button>
</div>
