<%# locals: (text:) -%>

<div data-controller="clipboard" data-value="<%= text %>" class="clipboard-copy">
  <%= inline_svg_tag "copy-text.svg", class: "copy-text" %>
  <%= inline_svg_tag "checkbox-checked.svg", class: "checkbox-checked" %>
</div>
