<%= turbo_frame_tag poll, class: "poll joy-border-subtle rounded" do %>
  <header class="px-4 pt-2 pb-2">
    <h5>
      <%= poll.title %>
    </h5>
  </header>

  <div class="p-4 flex flex-col gap-2">
    <% poll.questions.includes(:answers).ordered.each do |question| %>
      <%= render Share::Polls::Question.new(poll:, question:, voted: question.voted?(device_uuid: ensure_device_uuid)) %>
    <% end %>
  </div>
<% end %>
