<%= turbo_frame_tag poll, class: "poll" do %>
  <div class="header">
    <h5 class="mb-2">
      <%= poll.title %>
    </h5>
  </div>

  <% if voted_on?(poll) %>
    <%= render "share/polls/results", poll: poll %>
  <% else %>
    <%= render "share/polls/ballot", poll: poll %>
  <% end %>
<% end %>
