<div class="flex flex-row items-center mt-2">
  <div class="flex-grow mr-2">
    You are subscribed to the Joy of Rails newsletter!
    <% if newsletter_subscription.subscriber.needs_confirmation? %>
      Please check your email for a confirmation link.

      <%# TODO: %>
      <%# Didn't receive it? %>
      <%#= button_to "Resend confirmation email", users_confirmations_path, params: { user: { email: newsletter_subscription.subscriber.email }}, class: "button primary" %>
    <% end %>
  </div>
  <div>
  </div>
</div>
