*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: 400 var(--step-0) / var(--leading) var(--serif);
  color: var(--theme-text);
  background-color: var(--theme-background);
  margin: 0;
  padding: 0;
}

body > * {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

body > *,
main > article,
article > .article-body {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: var(--grid-gutter);
}

main > * {
  grid-column: col-start / span 12;
}

article > * {
  grid-column: col-start / span 12;
}

.article-body > * {
  grid-column: col-start 1 / span 12;
}

.article-body > img {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .article-body > * {
    grid-column: col-start 3 / span 8;
  }
}

@media screen and (min-width: 1240px) {
  .article-body > * {
    grid-column: col-start 1 / span 8;
  }

  .article-body > img {
    grid-column: col-start 9 / span 4;
    grid-row-start: span 5;
  }

  .article-body > .code-wrapper {
    grid-column: col-start / span 12;
  }
}

/* body > *,
main > *,
article > *,
.article-body > * {
  grid-column: main-start / main-end;
} */

/* body,
main,
article,
.article-body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns:
    [gutter-start] minmax(10px, 24px)
    [main-start] minmax(350px, var(--width-measure))
    [main-end] minmax(10px, 24px)
    [gutter-end];
  column-gap: 0;
  row-gap: var(--grid-gutter);
}

body > main,
main > article,
article > .article-body {
  grid-column: gutter-start / gutter-end;
}

body > *,
main > *,
article > *,
.article-body > * {
  grid-column: main-start / main-end;
}

@media screen and (min-width: 760px) {
  body,
  main,
  article,
  .article-body {
    grid-template-columns:
      [gutter-start] auto
      [main-start] var(--width-measure)
      [main-end] auto
      [gutter-end];
    column-gap: 0;
  }
}

@media screen and (min-width: 1340px) {
  body,
  main,
  article,
  .article-body {
    display: grid;
    column-gap: var(--grid-gutter);
    grid-template-columns:
      [gutter-start] auto
      [main-start] 2 / 8
      [margin-start] 9 / 12
      [main-end] auto
      [gutter-end];
  }

  body[class*='location-list'],
  body[class*='location-list'] > main,
  body[class*='location-list'] > main > article,
  body[class*='location-list'] > main > article > .article-body {
    display: grid;
    column-gap: 0;
    grid-column: main-start / main-end;
    grid-template-columns:
      [gutter-start] auto
      [main-start] minmax(400px, 500px)
      [main-end] auto
      [gutter-end];
  }

  article > .article-body {
    grid-auto-flow: row;
    grid-template-rows: minmax(calc(var(--leading) * 1em), max-content);
  }

  .article-body > * {
    grid-column-end: margin-start;
    z-index: 0;
  }

  .article-body > * + * {
    margin: 0;
    position: relative;
  }

  main > .primary {
    grid-column:main-start / margin-start;
  }

  main > .secondary {
    grid-column: margin-start / main-end;
  }

  .article-body > .testimonial {
    grid-column: main-start / main-end;
  }
} */
