@import 'config/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.site-header,
.footer-content,
.container {
  width: 100%;
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

body > *,
main > *,
.header-content,
.section-content,
.footer-content,
.article-content {
  display: grid;
}

main > *,
.header-content,
.section-content,
.article-content {
  gap: var(--grid-gutter);
}

body > *,
main > *,
.header-content,
.footer-content {
  grid-template-columns: 1fr;
}

.section-content,
.article-content {
  grid-template-columns: repeat(var(--grid-columns), [col-start] 1fr);
  grid-template-rows: minmax(calc(var(--leading) * 1em), max-content);
}

.section-content,
.article-content {
  grid-auto-flow: row;
  row-gap: var(--space-m);
}

.header-content,
.footer-content {
  grid-auto-flow: row;
  row-gap: var(--space-3xs-2xs);
}

.section-content > *,
.article-content > * {
  grid-column: col-start / span var(--grid-columns);
}

@media screen and (min-width: $screen-md) {
}

@media screen and (min-width: $screen-lg) {
  .section-content > *,
  .article-content > * {
    grid-column: col-start 1 / span 8;
  }

  .article-content > img {
    grid-column: col-start 9 / span 4;
    grid-row-start: span 4;
  }

  .article-content > .code-wrapper {
    grid-column: col-start / span var(--grid-columns);
  }
}
