a,
a > * {
  background-color: transparent;
  border-radius: 4px;
  color: var(--theme-link-6);
  text-decoration-color: var(--theme-link-1);
  text-decoration-line: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: from-font;
  text-underline-offset: 3px;
}

a:visited,
a.visited,
a:visited > * {
  color: var(--theme-link-9);
}

a:hover,
a.hover,
a:hover > * {
  text-decoration-color: currentColor;
}

a:focus,
a.focus,
a:focus > * {
  text-decoration: none;
}

a:active,
a.active,
a:active > * {
  background-color: var(--theme-link-1);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-serif);
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  text-wrap: balance;
  align-self: end;
  max-inline-size: 100%;
}

h1 {
  font-size: var(--step-4);
  letter-spacing: -2px;
  font-weight: 800;
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step-0);
}

h5 {
  font-size: var(--step--1);
}

h6 {
  font-size: var(--step--2);
}

pre {
  font-family: var(--monospace);
  font-size: var(--step--1);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
[role='button'] {
  cursor: pointer;
}

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  border: none;
}

button,
select {
  text-transform: none;
}

svg {
  fill: currentColor;
}
