<%= render Pages::Header.new(title: "Snippet Authoring") %>
<div id="snippets" class="section-content container py-gap mb-3xl">
  <% if Flipper.enabled?(:snippets, current_user) %>
    <div class="flex">
      <%= link_to "New Snippet", new_author_snippet_path, class: "button primary" %>
    </div>
  <% end %>

  <% @snippets.each do |snippet| %>
    <%= render Author::Snippets::Snippet.new(
          snippet,
          current_user: current_user,
          class: "mb-3xl"
        ) %>
  <% end %>

  <br>

  <div>
    Back to
    <%= link_to "Public snippets", share_snippets_path %>
  </div>
</div>
