<%= render Pages::Header.new(title: "Edit snippet") %>
<div class="section-content container py-gap">
  <%= render Snippets::Form.new(snippet: @snippet) %>

  <br>

  <div>
    <%= link_to "Show this snippet", @snippet %> |
    <%= link_to "Back to snippets", snippets_path %>
  </div>
</div>
