<%= render Pages::Header.new(title: "Snippets") %>
<div id="snippets" class="section-content container py-gap">
  <div class="flex">
    <%= link_to "New snippet", new_snippet_path, class: "button primary" %>
  </div>

  <% @snippets.each do |snippet| %>
    <%= link_to snippet, class: "block" do %>
      <%= render CodeBlock::Snippet.new(snippet) %>
    <% end %>
  <% end %>
</div>
