<%= render Pages::Header.new(title: "Snippets") %>
<div id="snippets" class="section-content container py-gap">
  <div class="flex">
    <%= link_to "New snippet", new_snippet_path, class: "button primary" %>
  </div>

  <% @snippets.each do |snippet| %>
    <%= render snippet %>
    <p>
      <%= link_to "Show this snippet", snippet %>
    </p>
  <% end %>
</div>
