<% topics = @topics %>

<% set_meta_tags(
     title: "Joy of Rails Topics",
     description: "Find articles categorized by topic on Joy of Rails",
     keywords: topics.pluck(:slug),
     canonical: topics_url
   ) %>

<%= render Pages::Header.new(title: "Topics") %>

<div class="column-content container py-gap mb-3xl">
  <nav class="sidebar">
    <%= turbo_frame_tag "topics-sidebar" do %>
      <%= render Topics::Nav.new(topics, class: "lg:hidden") %>
    <% end %>
  </nav>
  <div class="mainbar w-full">
    <%= turbo_frame_tag "topics-mainbar", data: {turbo_action: "advance"} do %>
      <div>
        <h3 class="mb-8 lg:hidden">Howdy!</h3>
        <div>
          <p>Here you‘ll find topics currently covered at Joy of Rails.</p>
          <p>Choose a topic from the sidebar to view articles.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
