---
title: Articles
description: Read the latest articles from Joy of Rails
---

<% articles = Page.all.published.order(published_at: :desc) %>
<%= render Pages::Header.new(
      title: "Articles",
      description: "Read the latest articles from Joy of Rails"
    ) %>
<div class="main-content container py-gap">
  <%= render Pages::List.new(articles) %>
</div>
<section>
  <%= render "users/newsletter_subscriptions/banner" %>
</section>
