<div class="container">
  <h1 class="pb-16 text-2xl font-bold text-center md:text-4xl">Articles</h1>
  <section class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-16">
    <% site.glob("articles/*.html.*").each do |page| %>
      <article class="flex flex-col">
        <%= link_to_page page do %>
          <h2 class="text-xl font-bold md:text-2xl leading-tighter"><%= page.data.fetch('title') %></h2>
        <% end %>
        <div class="flex items-start mt-4 text-sm">
          <div class="flex items-center space-x-3">
            <div class="flex flex-col w-40">
              <div class="leading-tight text-gray-500 place-content-end opacity-90">
                <div><%= time_ago_in_words(page.data.fetch('published')) %> ago</div>
              </div>
            </div>
          </div>
          <div class="pl-2 text-sm leading-snug opacity-70">
            <%= page.data.fetch('description') %>
          </div>
        </div>
      </article>
    <% end %>
  </section>
</div>
