<% articles = Page.all.draft.order(published_at: :asc) %>

<section style="min-height: 51vh">
  <%= render Pages::Header.new(
        title: "Drafts articles",
        description: "Drafts articles set to be published at some point in the future"
      ) %>
  <div class="main-content container py-gap">
    <%= render Pages::List.new(articles) %>
  </div>
</section>
<section>
  <%= render "users/newsletter_subscriptions/banner" %>
</section>
