---
title: Joy of Rails
---

<div class="container">
  <section class="max-w-screen-lg py-16 mx-auto lg:py-20">
    <h1 class="pb-16 text-2xl font-bold text-center md:text-4xl"><%= current_page.data['title'] %></h1>
  </section>
  <%= render "newsletter/banner" %>
</div>
