---
title: Progressive Web Apps on Rails Showcase
layout: article
---
<section class="pwa:hidden">
  <h2 class="anchor text-xl text-joy-text font-bold mb-2">How to use this resource</h2>
  <p>
    The site you are currently visiting is a itself Progressive Web Apps built with Rails.
  </p>
  <p>
    Joy of Rails is a Progressive Web App. You can start testing the features by installing the site as an app to your homescreen of your mobile app or on your desktop.
  </p>

  <%= render Pwa::InstallButton %>

  <h2 class="anchor text-xl text-joy-text font-bold mb-2">Features</h2>

  <div class="grid grid-cols-1 gap-4">
    <div>
      <h3 class="text-lg font-bold mb-2">Push Notifications</h3>
      <p>
        <%= render Pwa::WebPushDemo.new %>
      </p>
    </div>
  </div>
</section>
