<%= render Pages::Header.new(title: "Snippet Share") %>
<div id="snippets" class="section-content container py-gap mb-3xl">
  <% if Flipper.enabled?(:snippets, current_user) %>
    <div class="flex">
      <%= link_to "New Snippet", new_share_snippet_path, class: "button primary" %>
    </div>
  <% end %>

  <% @snippets.each do |snippet| %>
    <%= render Share::Snippets::Snippet.new(
      snippet,
      current_user: current_user,
      href: share_snippet_path(snippet),
      class: "mb-3xl"
    ) %>
  <% end %>
</div>
