<%= render Pages::Header.new(title: "Snippet Share") %>
<div class="section-content container py-gap mb-3xl">
  <%= turbo_frame_tag :snippet_form, data: {turbo_action: "replace"} do %>
    <%= render Share::Snippets::Form.new(@snippet) %>
  <% end %>

  <br>

  <div>
    <%= link_to "Back to snippets", share_snippets_path %>
  </div>
</div>
