<h1>
  It’s alive!
</h1>
<p>
  Hello <%= @to %>,
</p>
<p>
  The Joy of Rails email integration is working!
</p>
<p>
  Thump thump, thump thump...
</p>
<p>
  Have a great day!
</p>
<p>
  P.S. Visit us at <%= link_to "joyofrails.com", root_url, target: "_blank", rel: "noopener noreferrer" %>
</p>
