<%= turbo_frame_tag dom_id(counter) do %>
  <div class="not-prose mx-auto max-w-7xl">
    <div class="not-prose grid grid-cols-1 gap-px sm:grid-cols-2 lg:grid-cols-4">
      <div class="bg-gray-900 rounded-md px-4 py-6 sm:px-6 lg:px-8">
        <p class="text-sm font-medium leading-6 text-gray-400">Count</p>
        <p class="mt-2 flex items-baseline gap-x-2">
          <span class="text-4xl font-semibold tracking-tight text-white"><%= counter.count %></span>
        </p>
      </div>
    </div>
    <%= render "form", counter: counter %>
  </div>
<% end %>
