<div class="container lg:mt-12 md:mt-8">
  <div class="lg:flex lg:flex-row-reverse">
    <article class="prose dark:prose-invert sm:prose-lg lg:prose-xl">
      <h2>Example Counter</h2>

      <%= turbo_frame_tag dom_id(@examples_counter), class: "plausible-event-name=Examples+Counter+Click" do %>
        <%= render @examples_counter %>
      <% end %>
    </article>
  </div>
</div>
