@import 'dracula-ui/styles/dracula-ui.css';
@import './colors/violet.css';
@import './colors/gray.css';
@import './colors/pink.css';
@import './colors/dracula.css';

[data-joy-theme='dracula'] {
  --joy-title: var(--violet-11);
  --joy-bg-1: var(--violet-2);
  --joy-bg-2: var(--violet-3);
  --joy-bg-hover: var(--violet-4);
  --joy-bg-active: var(--violet-11);
  --joy-text: var(--violet-11);
  --joy-text-contrast: var(--violet-12);
  --joy-link: var(--dracula-purple-900);
  --joy-link-hover: var(--dracula-purple-600);
  --joy-header-1: var(--violet-11);
  --joy-header-2: var(--violet-10);
  --joy-header-3: var(--violet-9);
  --joy-header-4: var(--violet-9);
  --joy-header-5: var(--violet-9);
  --joy-header-6: var(--violet-9);
  --joy-scrollbar-thumb: var(--dracula-pink-200);
  --joy-scrollbar-track: var(--dracula-pink-900);

  --joy-button-primary: var(--violet-10);
  --joy-button-primary-hover: var(--violet-9);
  --joy-button-secondary: var(--slate-10);
  --joy-button-secondary-hover: var(--slate-9);
}

.dark[data-joy-theme='dracula'] {
  --joy-title: var(--dracula-cyan);
  --joy-bg-1: var(--dracula-black);
  --joy-bg-2: var(--dracula-black-secondary);
  --joy-bg-hover: var(--dracula-purple-200);
  --joy-bg-active: var(--dracula-purple);
  --joy-text: var(--dracula-cyan);
  --joy-text-contrast: var(--violet-12);
  --joy-link: var(--dracula-pink);
  --joy-link-hover: var(--dracula-pink-900);
  --joy-header-1: var(--dracula-cyan);
  --joy-header-2: var(--dracula-purple);
  --joy-header-3: var(--dracula-green);
  --joy-header-4: var(--dracula-yellow);
  --joy-header-5: var(--dracula-orange);
  --joy-header-6: var(--dracula-pink);

  --joy-scrollbar-track: var(--dracula-cyan-100);
  --joy-scrollbar-thumb: var(--dracula-grey);

  --joy-button-primary: var(--violet-10);
  --joy-button-primary-hover: var(--violet-9);
  --joy-button-secondary: var(--slate-10);
  --joy-button-secondary-hover: var(--slate-9);
}
