@import 'dracula-ui/styles/dracula-ui.css';
@import './colors/violet.css';
@import './colors/gray.css';
@import './colors/pink.css';
@import './colors/dracula.css';

[data-joy-gray='slate'] {
  --background: var(--joy-theme-base);
}

[data-joy-theme='violet'] {
  --joy-theme-base: var(--violet-1);
  --joy-theme-bg-subtle: var(--violet-2);
  --joy-theme-bg: var(--violet-3);
  --joy-theme-bg-hover: var(--violet-4);
  --joy-theme-bg-active: var(--violet-5);
  --joy-theme-text: var(--violet-11);
  --joy-theme-text-contrast: var(--violet-12);
}

[data-joy-theme='dracula'] {
  --joy-theme-title: var(--violet-11);
  --joy-theme-base: var(--violet-2);
  --joy-theme-bg-subtle: var(--violet-2);
  --joy-theme-bg: var(--violet-3);
  --joy-theme-bg-hover: var(--violet-4);
  --joy-theme-bg-active: var(--violet-11);
  --joy-theme-text: var(--violet-11);
  --joy-theme-text-contrast: var(--violet-12);
  --joy-theme-link: var(--dracula-purple-900);
  --joy-theme-link-hover: var(--dracula-purple-600);
  --background: var(--joy-theme-base);
  --joy-theme-header-1: var(--violet-11);
  --joy-theme-header-2: var(--violet-10);
  --joy-theme-header-3: var(--violet-9);
  --joy-theme-header-4: var(--violet-9);
  --joy-theme-header-5: var(--violet-9);
  --joy-theme-header-6: var(--violet-9);
  --joy-theme-scrollbar-thumb: var(--dracula-pink-200);
  --joy-theme-scrollbar-track: var(--dracula-pink-900);

  --joy-button-primary: var(--violet-9);
  --joy-button-primary-hover: var(--violet-8);
  --joy-button-secondary: var(--slate-8);
  --joy-button-secondary-hover: var(--slate-7);
}

.dark[data-joy-theme='dracula'] {
  --joy-theme-title: var(--dracula-cyan);
  --joy-theme-base: var(--dracula-black);
  --joy-theme-bg-subtle: var(--dracula-black-secondary);
  --joy-theme-bg: var(--dracula-black-secondary);
  --joy-theme-bg-hover: var(--dracula-purple-200);
  --joy-theme-bg-active: var(--dracula-purple);
  --joy-theme-text: var(--dracula-cyan);
  --joy-theme-text-contrast: var(--violet-12);
  --joy-theme-link: var(--dracula-pink);
  --joy-theme-link-hover: var(--dracula-pink-900);
  --background: var(--joy-theme-base);
  --joy-theme-header-1: var(--dracula-cyan);
  --joy-theme-header-2: var(--dracula-purple);
  --joy-theme-header-3: var(--dracula-green);
  --joy-theme-header-4: var(--dracula-yellow);
  --joy-theme-header-5: var(--dracula-orange);
  --joy-theme-header-6: var(--dracula-pink);

  --joy-theme-scrollbar-track: var(--dracula-cyan-100);
  --joy-theme-scrollbar-thumb: var(--dracula-grey);

  --joy-button-primary: var(--violet-9);
  --joy-button-primary-hover: var(--violet-8);
  --joy-button-secondary: var(--dracula-grey);
  --joy-button-secondary-hover: var(--dracula-grey-secondary);
}
