:root {
  --black: #21222c;
  --blackSecondary: #414558;
  --blackTernary: #a7abbe;
  --blackLight: rgba(33, 34, 44, 0.05);
  --grey: #414558;
  --greySecondary: #626784;
  --greyTernary: #b6b9c9;
  --greyLight: rgba(65, 69, 88, 0.05);
  --white: #f8f8f2;
  --whiteSecondary: #fff;
  --whiteLight: hsla(60, 30%, 96%, 0.05);
  --cyan: #80ffea;
  --cyanSecondary: #ccfff6;
  --cyanLight: rgba(128, 255, 234, 0.05);
  --green: #8aff80;
  --greenSecondary: #d0ffcc;
  --greenLight: rgba(138, 255, 128, 0.05);
  --orange: #ffca80;
  --orangeSecondary: #ffeacc;
  --orangeLight: rgba(255, 202, 128, 0.05);
  --pink: #ff80bf;
  --pinkSecondary: #ffcce6;
  --pinkLight: rgba(255, 128, 191, 0.05);
  --purple: #9580ff;
  --purpleSecondary: #d4ccff;
  --purpleLight: rgba(149, 128, 255, 0.05);
  --red: #ff9580;
  --redSecondary: #ffd4cc;
  --redLight: rgba(255, 149, 128, 0.05);
  --yellow: #ffff80;
  --yellowSecondary: #ffc;
  --yellowLight: rgba(255, 255, 128, 0.05);
  --cyan-transparent: rgba(128, 255, 234, 0.1);
  --green-transparent: rgba(138, 255, 128, 0.1);
  --orange-transparent: rgba(255, 202, 128, 0.1);
  --pink-transparent: rgba(255, 128, 191, 0.1);
  --purple-transparent: rgba(149, 128, 255, 0.1);
  --red-transparent: rgba(255, 149, 128, 0.1);
  --yellow-transparent: rgba(255, 255, 128, 0.1);
  --disabled: #6c7393;
  --gradientDegree: 135deg;
  --glowColor: hsla(0, 0%, 100%, 0.25);
  --cyan-100: rgba(128, 255, 234, 0.1);
  --green-100: rgba(138, 255, 128, 0.1);
  --orange-100: rgba(255, 202, 128, 0.1);
  --pink-100: rgba(255, 128, 191, 0.1);
  --purple-100: rgba(149, 128, 255, 0.1);
  --red-100: rgba(255, 149, 128, 0.1);
  --yellow-100: rgba(255, 255, 128, 0.1);
  --cyan-200: rgba(128, 255, 234, 0.2);
  --green-200: rgba(138, 255, 128, 0.2);
  --orange-200: rgba(255, 202, 128, 0.2);
  --pink-200: rgba(255, 128, 191, 0.2);
  --purple-200: rgba(149, 128, 255, 0.2);
  --red-200: rgba(255, 149, 128, 0.2);
  --yellow-200: rgba(255, 255, 128, 0.2);
  --cyan-300: rgba(128, 255, 234, 0.3);
  --green-300: rgba(138, 255, 128, 0.3);
  --orange-300: rgba(255, 202, 128, 0.3);
  --pink-300: rgba(255, 128, 191, 0.3);
  --purple-300: rgba(149, 128, 255, 0.3);
  --red-300: rgba(255, 149, 128, 0.3);
  --yellow-300: rgba(255, 255, 128, 0.3);
  --cyan-400: rgba(128, 255, 234, 0.4);
  --green-400: rgba(138, 255, 128, 0.4);
  --orange-400: rgba(255, 202, 128, 0.4);
  --pink-400: rgba(255, 128, 191, 0.4);
  --purple-400: rgba(149, 128, 255, 0.4);
  --red-400: rgba(255, 149, 128, 0.4);
  --yellow-400: rgba(255, 255, 128, 0.4);
  --cyan-500: rgba(128, 255, 234, 0.5);
  --green-500: rgba(138, 255, 128, 0.5);
  --orange-500: rgba(255, 202, 128, 0.5);
  --pink-500: rgba(255, 128, 191, 0.5);
  --purple-500: rgba(149, 128, 255, 0.5);
  --red-500: rgba(255, 149, 128, 0.5);
  --yellow-500: rgba(255, 255, 128, 0.5);
  --cyan-600: rgba(128, 255, 234, 0.6);
  --green-600: rgba(138, 255, 128, 0.6);
  --orange-600: rgba(255, 202, 128, 0.6);
  --pink-600: rgba(255, 128, 191, 0.6);
  --purple-600: rgba(149, 128, 255, 0.6);
  --red-600: rgba(255, 149, 128, 0.6);
  --yellow-600: rgba(255, 255, 128, 0.6);
  --cyan-700: rgba(128, 255, 234, 0.7);
  --green-700: rgba(138, 255, 128, 0.7);
  --orange-700: rgba(255, 202, 128, 0.7);
  --pink-700: rgba(255, 128, 191, 0.7);
  --purple-700: rgba(149, 128, 255, 0.7);
  --red-700: rgba(255, 149, 128, 0.7);
  --yellow-700: rgba(255, 255, 128, 0.7);
  --cyan-800: rgba(128, 255, 234, 0.8);
  --green-800: rgba(138, 255, 128, 0.8);
  --orange-800: rgba(255, 202, 128, 0.8);
  --pink-800: rgba(255, 128, 191, 0.8);
  --purple-800: rgba(149, 128, 255, 0.8);
  --red-800: rgba(255, 149, 128, 0.8);
  --yellow-800: rgba(255, 255, 128, 0.8);
  --cyan-900: rgba(128, 255, 234, 0.9);
  --green-900: rgba(138, 255, 128, 0.9);
  --orange-900: rgba(255, 202, 128, 0.9);
  --pink-900: rgba(255, 128, 191, 0.9);
  --purple-900: rgba(149, 128, 255, 0.9);
  --red-900: rgba(255, 149, 128, 0.9);
  --yellow-900: rgba(255, 255, 128, 0.9);
  --accentColor: var(--purple);
  --purple-cyan: linear-gradient(var(--gradientDegree), var(--purple) 0%, var(--cyan) 100%);
  --yellow-pink: linear-gradient(var(--gradientDegree), var(--yellow) 0%, var(--pink) 100%);
  --cyan-green: linear-gradient(var(--gradientDegree), var(--cyan) 0%, var(--green) 100%);
  --pink-purple: linear-gradient(var(--gradientDegree), var(--pink) 0%, var(--purple) 100%)
}
