/* Typography overrides */
.article-container {
  @apply lg:flex;

  &.with-table-of-contents {
    @apply lg:flex-row-reverse;
  }
}

.prose {
  max-width: 100%;
  width: 100%;
}

.article-container.with-table-of-contents .prose.article {
  max-width: min(100%, 712px);
}

.prose :where(a):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  font-weight: 500;
  text-decoration: none;
  color: var(--joy-link);

  &:hover {
    color: var(--joy-link-hover);
    text-decoration: underline;
  }
}
