.mb-gap {
  margin-bottom: var(--grid-gutter);
}

.mb-3xl {
  margin-bottom: var(--space-3xl);
}

.py-gap {
  padding-top: var(--grid-gutter);
  padding-bottom: var(--grid-gutter);
}

.py-xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.py-2xl {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-2xl);
}

.py-3xl {
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
}

.mx--4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.bg-success {
  background-color: var(--joy-background-success);
}

.bg-error {
  background-color: var(--joy-background-error);
}

.bg-warn {
  background-color: var(--joy-background-warn);
}

.text-theme {
  color: var(--joy-text-theme);
}

.text-small {
  font-size: var(--step--1);
}

.m-bs-m {
  margin-block-start: var(--space-m);
}

.joy-border {
  border: 1px solid var(--joy-border);
}

.joy-border-subtle {
  border: 1px solid var(--joy-border-subtle);
}

.joy-border-quiet {
  border: 1px solid var(--joy-border-quiet);
}

.joy-text-subtle {
  color: var(--joy-text-subtle);
}

.grid-stack {
  display: grid;

  & > * {
    grid-area: 1 / 1 / 2 / 2;
  }
}
