.mb-gap {
  margin-bottom: var(--grid-gutter);
}

.mb-gap {
  margin-bottom: var(--grid-gutter);
}

.py-gap {
  padding-top: var(--grid-gutter);
  padding-bottom: var(--grid-gutter);
}

.py-xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.py-2xl {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-2xl);
}

.py-3xl {
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
}

.bg-success {
  background-color: var(--joy-background-success);
}

.bg-error {
  background-color: var(--joy-background-error);
}

.bg-warn {
  background-color: var(--joy-background-warn);
}

.text-theme {
  color: var(--joy-text-theme);
}

.text-small {
  font-size: var(--step--1);
}
