@import '../config/variables.scss';

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-column: col-start 1 / span var(--grid-columns);
}

@media screen and (min-width: $screen-sm) {
  .sm\:aspect-\[2\/1\] {
    aspect-ratio: 2 / 1;
  }
}

@media screen and (min-width: $screen-md) {
  .md\:inline {
    display: inline;
  }

  .md\:mt-3 {
    margin-top: 0.75rem;
  }
  .md\:mr-2 {
    margin-right: 0.5rem;
  }
  .md\:mr-4 {
    margin-right: 1rem;
  }
  .md\:w-\[20px\] {
    width: 20px;
  }
  .md\:p-2 {
    padding: 0.5rem;
  }
  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -0.017em;
  }
  .md\:top-\[3px\] {
    top: 3px;
  }
  .md\:left-\[-72px\] {
    left: -72px;
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:space-row-4 > * {
    margin-bottom: 0;
  }
  .md\:space-row-4 > *:has(+ *) {
    margin-right: 1rem;
  }
  .md\:grid-flow-dense {
    grid-auto-flow: dense;
  }
  .md\:grid-flow-col {
    grid-auto-flow: column;
  }
}

@media screen and (min-width: $screen-lg) {
  .lg\:text-left {
    text-align: left;
  }
  .lg\:text-right {
    text-align: right;
  }

  .lg\:py-3xl {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
  }

  .lg\:grid-cols-1\/2 {
    grid-template-columns: 1fr 2fr;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-flow-dense {
    grid-auto-flow: dense;
  }

  .lg\:grid-flow-col {
    grid-auto-flow: column;
  }

  .lg\:grid-column-start-1 {
    grid-column-start: 1;
  }

  .lg\:grid-column-start-2 {
    grid-column-start: 2;
  }

  .lg\:aspect-\[3\/2\] {
    aspect-ratio: 3 / 2;
  }

  .lg\:block {
    display: block;
  }
}
