<p>PWA installation is not currently supported in Firefox on desktop. You can try the <%= link_to "PWAs for Firefox extension", "https://addons.mozilla.org/en-US/firefox/addon/pwas-for-firefox/", rel: "noopener noreferrer", target: "_blank" %> though its usage is outside the scope of this resource.</p>
