<p>To add this web app to your home screen from Microsoft Edge on iOS:</p>
<ol>
  <li>Tap the <strong>Share</strong> button at the bottom of the screen.</li>
  <li>Scroll down and tap <strong>Add to Home Screen</strong>.</li>
  <li>Customize the name of the app (optional) and tap <strong>Add</strong>.</li>
  <li>The Joy of Rails icon will now be added to your home screen.</li>
</ol>
<p>Now you can access the web app by tapping the icon on your home screen.</p>
