<p>To add this web app as a standalone application:</p>
<ol>
  <li>Click on the "File" menu in the top menu bar.</li>
  <li>Select "Add to Dock..." from the dropdown menu.</li>
  <li>The Joy of Rails icon will now be added as a standalone application.</li>
</ol>
<% if installation_instructions.full_version.split(".").first.to_i < 17 %>
  <p>Note: Only supported on Safari 17+; your current version is <%= installation_instructions.full_version %></p>
<% else %>
  <p>Once the installation is complete, you can access the web application directly from your macOS device's applications or launchpad.</p>
<% end %>
