<div class="section-content container py-gap">
  <%= turbo_frame_tag "pwa_installation_instructions", data: {turbo_action: "advance"} do %>
    <%= render "installation_instructions", installation_instructions: @installation_instructions %>
  <% end %>
</div>
