<%= turbo_frame_tag "pwa_install_info" do %>
  <h5 class="font-semibold mb-2">How to Install on <%= @installation_instructions.os_name %></h5>
  <%= begin
    render @installation_instructions.partial_name, installation_instructions: @installation_instructions
  rescue ActionView::MissingTemplate
    # Report missing template for user agent when error monitoring is in place
    render "unsupported"
  end %>
<% end %>
