.article-content,
.section-content {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    color: var(--joy-text-heading);
    margin-block-start: var(--space-m);
  }

  & hr {
    border: 0;
    clear: both;
    margin-inline-end: auto;
    margin-inline-start: auto;
    overflow: visible;
    position: relative;
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
  }

  & hr:before {
    inset-inline-end: calc(100% + 1.3125rem);
  }

  & hr:after {
    inset-inline-start: calc(100% + 1.3125rem);
  }

  & hr:before,
  & hr:after {
    content: '';
    display: block;
    inset-block-start: 0;
    position: absolute;
  }

  & hr,
  & hr:before,
  & hr:after {
    background-color: var(--joy-text-heading);
    block-size: 0.3125rem;
    border-radius: 50%;
    inline-size: 0.3125rem;
  }

  & > :first-child {
    margin-block-start: 0;
  }

  & > img {
    display: block;
    align-self: start;
    max-inline-size: initial;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
    max-width: var(--grid-max-width);
  }

  & ul {
    list-style-type: disc;
    padding-inline-start: var(--space-s);

    & li:has(+ li) {
      margin-bottom: var(--space-s);
    }
  }

  & blockquote {
    font-size: var(--step-1);
    font-style: italic;
    padding: var(--space-m) var(--space-m) var(--space-m) var(--space-xl);
    border-left: var(--space-3xs) solid var(--joy-color-quote);
    line-height: 1.6;
    position: relative;
    background: var(--joy-background-blockquote);

    & p:has(+ p) {
      margin-bottom: var(--space-m);
    }
  }

  & blockquote::before {
    font-family: Arial;
    content: '\201C';
    color: var(--joy-color-quote);
    font-size: var(--step-5);
    position: absolute;
    left: 10px;
    top: -10px;
  }

  & blockquote::after {
    content: '';
  }

  & blockquote span {
    display: block;
    font-style: normal;
    font-weight: bold;
    margin-top: var(--space-s);
  }

  & .window > * {
    width: 100%;
    min-height: 18ch;
    border: 1px solid var(--joy-border-subtle);
    border-radius: 0.5rem;
    padding-top: var(--space-s);
    padding-inline-end: var(--space-s);
    padding-bottom: var(--space-s);
    padding-inline-start: var(--space-s);
  }

  & ol {
    list-style-type: decimal;
    padding-inline-start: 1.5rem;
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
  }
}
