.bokeh__background {
  background-image: url(~/images/content/index/bokeh-background.webp);

  background-attachment: fixed;
  background-size: 2800px;
  background-position: center -400px;
  background-repeat: no-repeat;
}
