.button {
  @apply rounded-md px-3 py-2;
  @apply text-sm font-semibold text-white inline-flex;
  line-height: inherit;

  &.hidden {
    display: none;
  }

  &.primary {
    @apply bg-joy-button-primary hover:bg-joy-button-primary-hover;
  }

  &.secondary {
    @apply bg-joy-button-secondary hover:bg-joy-button-secondary-hover;
  }

  &:hover {
    @apply text-white no-underline cursor-pointer;
  }

  fieldset[disabled] &,
  &[disabled] {
    @apply bg-slate-400;

    &:hover {
      @apply bg-slate-400;
      cursor: not-allowed;
    }
  }

  svg {
    @apply fill-current;
    width: 24px;
  }
}

.focus-ring {
  @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500;
}
