.button {
  @apply rounded-md px-3 py-2;
  @apply text-sm font-semibold text-white inline-flex;

  &.hidden {
    display: none;
  }

  &.primary {
    @apply bg-indigo-500 hover:bg-indigo-400;
  }

  &.subtle {
    @apply bg-gray-700 hover:bg-gray-600;
  }

  &:hover {
    @apply text-white no-underline;
  }

  fieldset[disabled] &,
  &[disabled] {
    @apply bg-slate-400;

    &:hover {
      @apply bg-slate-400;
      cursor: not-allowed;
    }
  }

  svg {
    @apply fill-current;
    width: 24px;
  }
}

.focus-ring {
  @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500;
}
