.code-wrapper {
  @apply rounded-lg mt-8 mb-12 md:-mx-6;
}

.code-body {
  @apply flex flex-row justify-between overflow-x-auto;
}

.code-header {
  @apply px-6 pt-6 pb-2 text-sm text-gray-400 hidden lg:flex lg:justify-between lg:items-center;
  line-height: 1;

  & .code-title {
    @apply font-semibold text-gray-300;
    display: block;
    text-align: center;
    line-height: 1;
  }

  & a.code-title {
    @apply font-semibold text-gray-300 no-underline;
  }
}

.code-footer {
  @apply px-6 pb-6;
}

.code-output {
  @apply text-gray-500;
}

.code-output,
.code-result {
  padding: 0 !important; /* Override tailwind padding */
}

.code-actions {
  @apply text-gray-400 flex-row-reverse lg:flex lg:justify-between lg:items-center;
}

.code-action-status {
  @apply text-sm;
}

svg {
  fill: currentColor;

  &.app-dots {
    @apply inline-block;
    vertical-align: top;
  }

  &.copy-text {
    /* width: 24px; */
  }
  &.check-mark {
    /* width: 24px; */
  }
}
