@import '../config/variables.scss';

.code-wrapper {
  --code-line-height: 1.7777778;

  border-radius: var(--space-3xs-2xs);

  & input,
  & textarea {
    border: none;
    color: white;
    resize: none;
    padding: 0;
    background-color: inherit;
  }
}

@media screen and (min-width: $screen-md) {
  .article-content {
    & > .code-wrapper {
      margin-inline-start: calc(var(--space-m) * -1);
      margin-inline-end: calc(var(--space-m) * -1);
    }
    & .hll {
      margin-inline-start: calc(var(--space-m) * -1);
      margin-inline-end: calc(var(--space-m) * -1);
      padding-inline-start: var(--space-m);
      padding-inline-end: var(--space-m);
    }
  }
}

.code-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  position: relative;

  & pre {
    border-radius: 0.5rem;
    padding-top: var(--space-m);
    padding-inline-end: var(--space-m);
    padding-bottom: var(--space-m);
    padding-inline-start: var(--space-m);

    width: 100%;
  }

  & pre .hll {
    white-space: break-spaces;
  }

  & pre,
  & textarea {
    line-height: var(--code-line-height);
    margin-top: 0;
    margin-bottom: 0;
  }

  & textarea {
    font-family: var(--monospace);
  }
}

.code-header {
  --code-header-font-size: 0.875rem;
  --code-header-line-height: 1.5715;

  display: none;
  padding: 1.5rem 1.5rem 0;
  font-size: var(--code-header-font-size);
  line-height: var(--code-header-line-height);

  & .code-title {
    font-weight: 600;
    display: block;
    text-align: right;
    line-height: var(--code-header-line-height);
    flex-grow: 2;

    & input {
      font-size: var(--code-header-font-size);
      line-height: var(--code-header-line-height);
      text-align: right;
      width: 100%;
    }

    & a {
      font-family: var(--sans-serif);
      gap: 0.25rem;
      align-items: baseline;
      display: flex;
      font-weight: bold;
      text-decoration: none;
      justify-content: end;
    }

    & a svg.icon {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  svg {
    fill: currentColor;
    color: currentColor;

    &.app-dots {
      display: inline-block;
      vertical-align: top;
    }
  }
}
@media (min-width: $screen-lg) {
  .code-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.code-footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.code-output,
.code-result {
  padding: 0 !important; /* Override tailwind padding */
}

.code-actions {
  flex-direction: row-reverse;
}

@media (min-width: 1024px) {
  .code-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.code-action-status {
  font-size: 0.875rem;
  line-height: 1.5715;
}

.code-examples--list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  margin-top: var(--space-xs);
  justify-content: start;

  h3 {
    margin-bottom: var(--space-xs);
  }

  & > * {
    max-width: 100%;
    margin-bottom: var(--grid-gutter);
  }

  & .code-wrapper {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

@media screen and (min-width: $screen-md) {
  .code-examples--list {
    & > * {
      width: 45%;
    }
  }
}
