.code-header {
  @apply text-sm text-gray-400 hidden lg:mb-4 lg:flex lg:justify-between lg:items-center;
  line-height: 1;

  & .code-filename {
    @apply font-semibold text-gray-300;
    display: block;
    text-align: center;
    line-height: 1;
  }
}

.clipboard-copy {
  @apply flex fill-current;
}

svg {
  &.app-dots {
    @apply inline-block;
    vertical-align: top;
  }
  &.copy-text {
    @apply inline-block cursor-pointer fill-current;
    width: 24px;
  }
  &.checkbox-checked {
    @apply hidden inline-block fill-green-600;
    width: 32px;
  }
}
