.combobox {
  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  & [role='option'] {
    &:hover {
      background-color: var(--joy-block-hover);
    }

    &.selected {
      background-color: var(--joy-block-selected);
    }
  }
}
