@import '../config/variables.scss';

dialog {
  color: var(--joy-text);
  width: 100%;
  border: none;
  animation: dialog-popup 0.25s ease-in-out;
  transform: translateY(0px);

  box-shadow: 4px 4px 2.2px rgba(0, 0, 0, 0.028);

  &::backdrop {
    background: linear-gradient(
      315deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.1) 100%
    );
    backdrop-filter: blur(1px) grayscale(100%);
    opacity: 0.8;
  }

  header,
  footer {
    background-color: inherit;
  }

  input[type='search'] {
    border: none;
    border-left: 1px solid var(--joy-border-quiet);
    color: var(--joy-text);
  }
}

.dark {
  & dialog {
    border: 1px solid var(--joy-border-quiet);
    background-color: var(--color-gray-950);

    & input[type='search'] {
      margin-left: 1rem;
      background-color: var(--color-gray-800);
      border: 1px solid var(--joy-border);
    }
  }
}

@keyframes dialog-popup {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  1% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
