footer {
  background-color: var(--joy-background-footer);
}

.footer-content {
  & nav > ul > li {
    padding-top: var(--space-2xs-xs);
    padding-bottom: var(--space-2xs-xs);
  }

  & nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  & nav > ul > li > a {
    font-weight: bold;
  }

  & nav li:has(+ li) {
    &:after {
      margin-inline-start: var(--space-2xs-xs);
      margin-inline-end: var(--space-2xs-xs);
      content: ' / ';
      color: var(--joy-text-faint);
    }
  }
}
