.prose {
  & h2 {
    color: var(--joy-theme-header-2);
  }

  & h3 {
    color: var(--joy-theme-header-3);
  }

  & h4 {
    color: var(--joy-theme-header-4);
  }

  & h5 {
    color: var(--joy-theme-header-5);
  }

  & h6 {
    color: var(--joy-theme-header-6);
  }
}
