.page-header {
  background-color: var(--joy-background-header);
  padding-block-start: var(--grid-gutter);
  padding-block-end: var(--grid-gutter);
}

.extend-page-header-bg {
  background-color: var(--joy-background-header);
}
