.poll {
  & h5 {
    margin: 0;
    font-weight: 400;
    text-align: end;
    font-size: var(--step--2);
  }

  & .answer {
    border-radius: 0.375rem;
    font-size: var(--step--1);
    font-weight: 700;
    border: 1px solid transparent;
  }

  & .bar {
    background-color: var(--joy-poll-result-default);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;

    /* background-color: var(--joy-poll-result-winner); */
    /* <div class="border" style="background-color: rgba(29, 155, 240, 0.58); background-color: rgb(207, 217, 222); top: 0; left: 0; bottom: 0; z-index: 0; width: <%= number_to_percentage((answer.votes_count * 100) / question.votes_count, precision: 1) %>" class="absolute rounded"></div> */
  }
}

.poll__row:nth-child(odd) {
  background-color: var(--joy-background-blockquote);
}
