/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--dracula-cyan) var(--theme-scrollbar-track);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--theme-scrollbar-track);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--theme-scrollbar-thumb);
  border-radius: 14px;
  border: 3px solid var(--theme-scrollbar-track);
}
