nav.toc {
  & li {
    @apply mt-3;
  }

  & li > ul > li {
    @apply ml-4 mt-2;
    font-size: 98%;
  }

  & li a:hover {
    @apply text-gray-solid-high-contrast;
  }

  & li a:active,
  & li > a.active {
    color: var(--joy-header-2);
  }

  & li > ul > li > a.active {
    color: var(--joy-header-3);
  }

  & li > ul > li > ul > li > a.active {
    color: var(--joy-header-4);
  }
}
