/* Colors from https://ui.draculatheme.com/ */
:root {
  --dracula-black: rgb(33, 34, 44);
  --dracula-black-secondary: rgb(65, 69, 88);
  --dracula-black-ternary: rgb(167, 171, 190);
  --dracula-black-light: rgba(33, 34, 44, 0.05);
  --dracula-grey: rgb(65, 69, 88);
  --dracula-grey-secondary: rgb(98, 103, 132);
  --dracula-grey-ternary: rgb(182, 185, 201);
  --dracula-grey-light: rgba(65, 69, 88, 0.05);
  --dracula-white: rgb(248, 248, 242);
  --dracula-white-secondary: rgb(255, 255, 255);
  --dracula-white-light: hsla(60, 30%, 96%, 0.05);
  --dracula-cyan: rgb(128, 255, 234);
  --dracula-cyan-secondary: rgb(204, 255, 246);
  --dracula-cyan-light: rgba(128, 255, 234, 0.05);
  --dracula-green: rgb(138, 255, 128);
  --dracula-green-secondary: rgb(208, 255, 204);
  --dracula-green-light: rgba(138, 255, 128, 0.05);
  --dracula-orange: rgb(255, 202, 128);
  --dracula-orange-secondary: rgb(255, 234, 204);
  --dracula-orange-light: rgba(255, 202, 128, 0.05);
  --dracula-pink: rgb(255, 128, 191);
  --dracula-pink-secondary: rgb(255, 204, 230);
  --dracula-pink-light: rgba(255, 128, 191, 0.05);
  --dracula-purple: rgb(149, 128, 255);
  --dracula-purple-secondary: rgb(212, 204, 255);
  --dracula-purple-light: rgba(149, 128, 255, 0.05);
  --dracula-red: rgb(255, 149, 128);
  --dracula-red-secondary: rgb(255, 212, 204);
  --dracula-red-light: rgba(255, 149, 128, 0.05);
  --dracula-yellow: rgb(255, 255, 128);
  --dracula-yellow-secondary: rgb(255, 255, 204);
  --dracula-yellow-light: rgba(255, 255, 128, 0.05);
  --dracula-cyan-transparent: rgba(128, 255, 234, 0.1);
  --dracula-green-transparent: rgba(138, 255, 128, 0.1);
  --dracula-orange-transparent: rgba(255, 202, 128, 0.1);
  --dracula-pink-transparent: rgba(255, 128, 191, 0.1);
  --dracula-purple-transparent: rgba(149, 128, 255, 0.1);
  --dracula-red-transparent: rgba(255, 149, 128, 0.1);
  --dracula-yellow-transparent: rgba(255, 255, 128, 0.1);
  --dracula-disabled: rgb(108, 115, 147);
  --dracula-gradientDegree: 135deg;
  --dracula-glowColor: hsla(0, 0%, 100%, 0.25);
  --dracula-cyan-100: #80ffea1a;
  --dracula-green-100: rgba(138, 255, 128, 0.1);
  --dracula-orange-100: rgba(255, 202, 128, 0.1);
  --dracula-pink-100: rgba(255, 128, 191, 0.1);
  --dracula-purple-100: rgba(149, 128, 255, 0.1);
  --dracula-red-100: rgba(255, 149, 128, 0.1);
  --dracula-yellow-100: rgba(255, 255, 128, 0.1);
  --dracula-cyan-200: rgba(128, 255, 234, 0.2);
  --dracula-green-200: rgba(138, 255, 128, 0.2);
  --dracula-orange-200: rgba(255, 202, 128, 0.2);
  --dracula-pink-200: rgba(255, 128, 191, 0.2);
  --dracula-purple-200: rgba(149, 128, 255, 0.2);
  --dracula-red-200: rgba(255, 149, 128, 0.2);
  --dracula-yellow-200: rgba(255, 255, 128, 0.2);
  --dracula-cyan-300: rgba(128, 255, 234, 0.3);
  --dracula-green-300: rgba(138, 255, 128, 0.3);
  --dracula-orange-300: rgba(255, 202, 128, 0.3);
  --dracula-pink-300: rgba(255, 128, 191, 0.3);
  --dracula-purple-300: rgba(149, 128, 255, 0.3);
  --dracula-red-300: rgba(255, 149, 128, 0.3);
  --dracula-yellow-300: rgba(255, 255, 128, 0.3);
  --dracula-cyan-400: rgba(128, 255, 234, 0.4);
  --dracula-green-400: rgba(138, 255, 128, 0.4);
  --dracula-orange-400: rgba(255, 202, 128, 0.4);
  --dracula-pink-400: rgba(255, 128, 191, 0.4);
  --dracula-purple-400: rgba(149, 128, 255, 0.4);
  --dracula-red-400: rgba(255, 149, 128, 0.4);
  --dracula-yellow-400: rgba(255, 255, 128, 0.4);
  --dracula-cyan-500: rgba(128, 255, 234, 0.5);
  --dracula-green-500: rgba(138, 255, 128, 0.5);
  --dracula-orange-500: rgba(255, 202, 128, 0.5);
  --dracula-pink-500: rgba(255, 128, 191, 0.5);
  --dracula-purple-500: rgba(149, 128, 255, 0.5);
  --dracula-red-500: rgba(255, 149, 128, 0.5);
  --dracula-yellow-500: rgba(255, 255, 128, 0.5);
  --dracula-cyan-600: rgba(128, 255, 234, 0.6);
  --dracula-green-600: rgba(138, 255, 128, 0.6);
  --dracula-orange-600: rgba(255, 202, 128, 0.6);
  --dracula-pink-600: rgba(255, 128, 191, 0.6);
  --dracula-purple-600: rgba(149, 128, 255, 0.6);
  --dracula-red-600: rgba(255, 149, 128, 0.6);
  --dracula-yellow-600: rgba(255, 255, 128, 0.6);
  --dracula-cyan-700: rgba(128, 255, 234, 0.7);
  --dracula-green-700: rgba(138, 255, 128, 0.7);
  --dracula-orange-700: rgba(255, 202, 128, 0.7);
  --dracula-pink-700: rgba(255, 128, 191, 0.7);
  --dracula-purple-700: rgba(149, 128, 255, 0.7);
  --dracula-red-700: rgba(255, 149, 128, 0.7);
  --dracula-yellow-700: rgba(255, 255, 128, 0.7);
  --dracula-cyan-800: rgba(128, 255, 234, 0.8);
  --dracula-green-800: rgba(138, 255, 128, 0.8);
  --dracula-orange-800: rgba(255, 202, 128, 0.8);
  --dracula-pink-800: rgba(255, 128, 191, 0.8);
  --dracula-purple-800: rgba(149, 128, 255, 0.8);
  --dracula-red-800: rgba(255, 149, 128, 0.8);
  --dracula-yellow-800: rgba(255, 255, 128, 0.8);
  --dracula-cyan-900: rgba(128, 255, 234, 0.9);
  --dracula-green-900: rgba(138, 255, 128, 0.9);
  --dracula-orange-900: rgba(255, 202, 128, 0.9);
  --dracula-pink-900: rgba(255, 128, 191, 0.9);
  --dracula-purple-900: rgba(149, 128, 255, 0.9);
  --dracula-red-900: rgba(255, 149, 128, 0.9);
  --dracula-yellow-900: rgba(255, 255, 128, 0.9);

  --dracula-accentColor: var(--purple);
  --dracula-purple-cyan: linear-gradient(var(--gradientDegree), var(--purple) 0%, var(--cyan) 100%);
  --dracula-yellow-pink: linear-gradient(var(--gradientDegree), var(--yellow) 0%, var(--pink) 100%);
  --dracula-cyan-green: linear-gradient(var(--gradientDegree), var(--cyan) 0%, var(--green) 100%);
  --dracula-pink-purple: linear-gradient(var(--gradientDegree), var(--pink) 0%, var(--purple) 100%)

  --dracula-purple-muted: rgb(189, 147, 249);
  --dracula-bg: rgb(40, 42, 54);
}
