<p>Thank you for signing up for the <%= link_to "Joy of Rails", root_url %> newsletter!</p>

<p>I am humbled to have you here :)</p>

<p>As you might have guessed, things are just getting underway at Joy of Rails. You’re one of the first to join and I’m grateful for that. I’m excited to see where this journey takes us. And please tell your friends and colleagues about Joy of Rails. The more the merrier!</p>

<p>Now that you’ve joined, you can expect occasional email updates from me. I’ll do my best to send you interesting and engaging Ruby on Rails content that’s worth your attention and time. Maybe every now and then something to put a smile on your face.</p>

<p>If you’re into RSS, you may want to subscribe to the <%= link_to "Joy of Rails feed", feed_index_url %>.</p>

<% unless @unsubscribe_token == :no_token %>
<p>You can also <%= link_to "unsubscribe", unsubscribe_users_newsletter_subscription_url(@unsubscribe_token) %> at any time. That’s ok too!</p>
<% end %>

<p>If you have any questions, feedback, or just want to say hi, please don’t hesitate to reach out. I’d love to hear from you.</p>

<p>- Ross</p>
