:root {
  --color-heliotrope-50: hsla(276, 100%, 98%, 1);
  --color-heliotrope-100: hsla(274, 100%, 95%, 1);
  --color-heliotrope-200: hsla(275, 95%, 92%, 1);
  --color-heliotrope-300: hsla(275, 95%, 85%, 1);
  --color-heliotrope-400: hsla(276, 91%, 77%, 1);
  --color-heliotrope-500: hsla(277, 88%, 65%, 1);
  --color-heliotrope-600: hsla(277, 78%, 56%, 1);
  --color-heliotrope-700: hsla(278, 69%, 47%, 1);
  --color-heliotrope-800: hsla(279, 64%, 39%, 1);
  --color-heliotrope-900: hsla(280, 63%, 32%, 1);
  --color-heliotrope-950: hsla(279, 83%, 21%, 1);
  --color-watercourse-50: hsla(155, 90%, 96%, 1);
  --color-watercourse-100: hsla(152, 88%, 90%, 1);
  --color-watercourse-200: hsla(155, 84%, 80%, 1);
  --color-watercourse-300: hsla(159, 79%, 67%, 1);
  --color-watercourse-400: hsla(161, 70%, 52%, 1);
  --color-watercourse-500: hsla(163, 92%, 39%, 1);
  --color-watercourse-600: hsla(164, 100%, 31%, 1);
  --color-watercourse-700: hsla(166, 100%, 25%, 1);
  --color-watercourse-800: hsla(166, 96%, 21%, 1);
  --color-watercourse-900: hsla(168, 93%, 16%, 1);
  --color-watercourse-950: hsla(168, 100%, 9%, 1);
  --color-thunderbird-50: hsla(8, 100%, 97%, 1);
  --color-thunderbird-100: hsla(7, 100%, 93%, 1);
  --color-thunderbird-200: hsla(6, 100%, 88%, 1);
  --color-thunderbird-300: hsla(6, 100%, 79%, 1);
  --color-thunderbird-400: hsla(6, 100%, 68%, 1);
  --color-thunderbird-500: hsla(6, 100%, 58%, 1);
  --color-thunderbird-600: hsla(6, 97%, 51%, 1);
  --color-thunderbird-700: hsla(6, 99%, 42%, 1);
  --color-thunderbird-800: hsla(6, 94%, 35%, 1);
  --color-thunderbird-900: hsla(6, 85%, 31%, 1);
  --color-thunderbird-950: hsla(6, 100%, 15%, 1);
  --color-congress-blue-50: hsla(199, 100%, 96%, 1);
  --color-congress-blue-100: hsla(203, 100%, 92%, 1);
  --color-congress-blue-200: hsla(201, 100%, 85%, 1);
  --color-congress-blue-300: hsla(199, 100%, 75%, 1);
  --color-congress-blue-400: hsla(201, 100%, 63%, 1);
  --color-congress-blue-500: hsla(206, 100%, 55%, 1);
  --color-congress-blue-600: hsla(211, 99%, 50%, 1);
  --color-congress-blue-700: hsla(216, 100%, 49%, 1);
  --color-congress-blue-800: hsla(217, 96%, 40%, 1);
  --color-congress-blue-900: hsla(216, 88%, 31%, 1);
  --color-congress-blue-950: hsla(218, 78%, 21%, 1);
  --color-cerise-red-50: hsla(355, 86%, 97%, 1);
  --color-cerise-red-100: hsla(348, 93%, 95%, 1);
  --color-cerise-red-200: hsla(347, 88%, 90%, 1);
  --color-cerise-red-300: hsla(346, 89%, 82%, 1);
  --color-cerise-red-400: hsla(345, 88%, 71%, 1);
  --color-cerise-red-500: hsla(343, 82%, 55%, 1);
  --color-cerise-red-600: hsla(340, 72%, 50%, 1);
  --color-cerise-red-700: hsla(339, 77%, 41%, 1);
  --color-cerise-red-800: hsla(337, 74%, 35%, 1);
  --color-cerise-red-900: hsla(335, 70%, 30%, 1);
  --color-cerise-red-950: hsla(337, 80%, 16%, 1);
  --color-yellow-orange-50: hsla(36, 100%, 96%, 1);
  --color-yellow-orange-100: hsla(36, 96%, 89%, 1);
  --color-yellow-orange-200: hsla(35, 98%, 77%, 1);
  --color-yellow-orange-300: hsla(34, 98%, 62%, 1);
  --color-yellow-orange-400: hsla(31, 97%, 56%, 1);
  --color-yellow-orange-500: hsla(25, 92%, 50%, 1);
  --color-yellow-orange-600: hsla(20, 96%, 44%, 1);
  --color-yellow-orange-700: hsla(14, 92%, 37%, 1);
  --color-yellow-orange-800: hsla(11, 84%, 31%, 1);
  --color-yellow-orange-900: hsla(10, 79%, 26%, 1);
  --color-yellow-orange-950: hsla(9, 92%, 14%, 1);
  --color-mabel-50: hsla(191, 58%, 96%, 1);
  --color-mabel-100: hsla(189, 53%, 87%, 1);
  --color-mabel-200: hsla(190, 53%, 82%, 1);
  --color-mabel-300: hsla(191, 51%, 69%, 1);
  --color-mabel-400: hsla(191, 47%, 53%, 1);
  --color-mabel-500: hsla(193, 52%, 43%, 1);
  --color-mabel-600: hsla(195, 51%, 36%, 1);
  --color-mabel-700: hsla(197, 46%, 31%, 1);
  --color-mabel-800: hsla(198, 39%, 27%, 1);
  --color-mabel-900: hsla(201, 36%, 24%, 1);
  --color-mabel-950: hsla(201, 45%, 15%, 1);
  --color-chartreuse-50: hsla(92, 100%, 95%, 1);
  --color-chartreuse-100: hsla(96, 100%, 89%, 1);
  --color-chartreuse-200: hsla(97, 100%, 79%, 1);
  --color-chartreuse-300: hsla(98, 97%, 66%, 1);
  --color-chartreuse-400: hsla(99, 89%, 55%, 1);
  --color-chartreuse-500: hsla(100, 92%, 44%, 1);
  --color-chartreuse-600: hsla(101, 98%, 35%, 1);
  --color-chartreuse-700: hsla(102, 90%, 27%, 1);
  --color-chartreuse-800: hsla(102, 79%, 23%, 1);
  --color-chartreuse-900: hsla(104, 69%, 20%, 1);
  --color-chartreuse-950: hsla(106, 92%, 10%, 1);
  --color-dodger-blue-50: hsla(206, 100%, 97%, 1);
  --color-dodger-blue-100: hsla(209, 95%, 93%, 1);
  --color-dodger-blue-200: hsla(208, 94%, 87%, 1);
  --color-dodger-blue-300: hsla(206, 95%, 78%, 1);
  --color-dodger-blue-400: hsla(208, 93%, 68%, 1);
  --color-dodger-blue-500: hsla(212, 90%, 63%, 1);
  --color-dodger-blue-600: hsla(216, 82%, 53%, 1);
  --color-dodger-blue-700: hsla(219, 75%, 48%, 1);
  --color-dodger-blue-800: hsla(220, 70%, 40%, 1);
  --color-dodger-blue-900: hsla(219, 63%, 33%, 1);
  --color-dodger-blue-950: hsla(221, 55%, 21%, 1);
  --color-persian-pink-50: hsla(327, 73%, 97%, 1);
  --color-persian-pink-100: hsla(323, 78%, 95%, 1);
  --color-persian-pink-200: hsla(323, 88%, 90%, 1);
  --color-persian-pink-300: hsla(325, 91%, 82%, 1);
  --color-persian-pink-400: hsla(327, 89%, 75%, 1);
  --color-persian-pink-500: hsla(328, 84%, 60%, 1);
  --color-persian-pink-600: hsla(331, 75%, 51%, 1);
  --color-persian-pink-700: hsla(333, 81%, 42%, 1);
  --color-persian-pink-800: hsla(334, 78%, 35%, 1);
  --color-persian-pink-900: hsla(334, 72%, 30%, 1);
  --color-persian-pink-950: hsla(334, 89%, 17%, 1);
  --color-silver-tree-50: hsla(147, 52%, 96%, 1);
  --color-silver-tree-100: hsla(142, 49%, 90%, 1);
  --color-silver-tree-200: hsla(146, 46%, 80%, 1);
  --color-silver-tree-300: hsla(149, 43%, 67%, 1);
  --color-silver-tree-400: hsla(151, 39%, 55%, 1);
  --color-silver-tree-500: hsla(153, 51%, 39%, 1);
  --color-silver-tree-600: hsla(154, 56%, 30%, 1);
  --color-silver-tree-700: hsla(156, 56%, 24%, 1);
  --color-silver-tree-800: hsla(156, 52%, 20%, 1);
  --color-silver-tree-900: hsla(157, 52%, 16%, 1);
  --color-silver-tree-950: hsla(159, 57%, 9%, 1);
  --color-chambray-50: hsla(210, 50%, 97%, 1);
  --color-chambray-100: hsla(219, 46%, 93%, 1);
  --color-chambray-200: hsla(217, 48%, 87%, 1);
  --color-chambray-300: hsla(215, 47%, 78%, 1);
  --color-chambray-400: hsla(216, 46%, 68%, 1);
  --color-chambray-500: hsla(220, 44%, 60%, 1);
  --color-chambray-600: hsla(224, 40%, 53%, 1);
  --color-chambray-700: hsla(227, 37%, 48%, 1);
  --color-chambray-800: hsla(229, 35%, 44%, 1);
  --color-chambray-900: hsla(228, 31%, 33%, 1);
  --color-chambray-950: hsla(232, 27%, 21%, 1);
  --color-rum-50: hsla(300, 9%, 98%, 1);
  --color-rum-100: hsla(280, 13%, 95%, 1);
  --color-rum-200: hsla(263, 17%, 91%, 1);
  --color-rum-300: hsla(268, 15%, 83%, 1);
  --color-rum-400: hsla(270, 14%, 73%, 1);
  --color-rum-500: hsla(271, 13%, 61%, 1);
  --color-rum-600: hsla(272, 11%, 47%, 1);
  --color-rum-700: hsla(274, 11%, 40%, 1);
  --color-rum-800: hsla(277, 11%, 33%, 1);
  --color-rum-900: hsla(276, 10%, 28%, 1);
  --color-rum-950: hsla(275, 15%, 16%, 1);
  --color-seagull-50: hsla(204, 100%, 97%, 1);
  --color-seagull-100: hsla(204, 94%, 94%, 1);
  --color-seagull-200: hsla(200, 94%, 86%, 1);
  --color-seagull-300: hsla(199, 96%, 71%, 1);
  --color-seagull-400: hsla(198, 93%, 60%, 1);
  --color-seagull-500: hsla(198, 89%, 48%, 1);
  --color-seagull-600: hsla(199, 98%, 39%, 1);
  --color-seagull-700: hsla(201, 96%, 32%, 1);
  --color-seagull-800: hsla(200, 90%, 27%, 1);
  --color-seagull-900: hsla(201, 80%, 24%, 1);
  --color-seagull-950: hsla(203, 80%, 16%, 1);
  --color-elf-green-50: hsla(167, 53%, 97%, 1);
  --color-elf-green-100: hsla(166, 64%, 89%, 1);
  --color-elf-green-200: hsla(167, 64%, 78%, 1);
  --color-elf-green-300: hsla(169, 58%, 64%, 1);
  --color-elf-green-400: hsla(171, 49%, 50%, 1);
  --color-elf-green-500: hsla(173, 61%, 40%, 1);
  --color-elf-green-600: hsla(174, 64%, 31%, 1);
  --color-elf-green-700: hsla(175, 59%, 26%, 1);
  --color-elf-green-800: hsla(175, 53%, 22%, 1);
  --color-elf-green-900: hsla(175, 46%, 19%, 1);
  --color-elf-green-950: hsla(176, 65%, 10%, 1);
  --color-hibiscus-50: hsla(326, 47%, 97%, 1);
  --color-hibiscus-100: hsla(324, 56%, 95%, 1);
  --color-hibiscus-200: hsla(324, 58%, 90%, 1);
  --color-hibiscus-300: hsla(325, 61%, 82%, 1);
  --color-hibiscus-400: hsla(327, 60%, 70%, 1);
  --color-hibiscus-500: hsla(328, 56%, 60%, 1);
  --color-hibiscus-600: hsla(331, 50%, 49%, 1);
  --color-hibiscus-700: hsla(333, 54%, 42%, 1);
  --color-hibiscus-800: hsla(334, 52%, 35%, 1);
  --color-hibiscus-900: hsla(334, 48%, 30%, 1);
  --color-hibiscus-950: hsla(334, 59%, 17%, 1);
  --color-emerald-50: hsla(140, 88%, 97%, 1);
  --color-emerald-100: hsla(146, 100%, 92%, 1);
  --color-emerald-200: hsla(146, 97%, 85%, 1);
  --color-emerald-300: hsla(147, 94%, 73%, 1);
  --color-emerald-400: hsla(147, 84%, 58%, 1);
  --color-emerald-500: hsla(147, 86%, 45%, 1);
  --color-emerald-600: hsla(147, 93%, 40%, 1);
  --color-emerald-700: hsla(147, 88%, 29%, 1);
  --color-emerald-800: hsla(148, 79%, 24%, 1);
  --color-emerald-900: hsla(149, 75%, 20%, 1);
  --color-emerald-950: hsla(149, 100%, 10%, 1);
  --color-cardinal-pink-50: hsla(314, 87%, 97%, 1);
  --color-cardinal-pink-100: hsla(310, 93%, 95%, 1);
  --color-cardinal-pink-200: hsla(309, 100%, 90%, 1);
  --color-cardinal-pink-300: hsla(311, 100%, 81%, 1);
  --color-cardinal-pink-400: hsla(312, 100%, 70%, 1);
  --color-cardinal-pink-500: hsla(314, 97%, 60%, 1);
  --color-cardinal-pink-600: hsla(318, 86%, 51%, 1);
  --color-cardinal-pink-700: hsla(319, 93%, 42%, 1);
  --color-cardinal-pink-800: hsla(320, 89%, 35%, 1);
  --color-cardinal-pink-900: hsla(320, 83%, 27%, 1);
  --color-cardinal-pink-950: hsla(320, 100%, 17%, 1);
  --color-mint-green-50: hsla(102, 92%, 95%, 1);
  --color-mint-green-100: hsla(104, 89%, 89%, 1);
  --color-mint-green-200: hsla(105, 87%, 80%, 1);
  --color-mint-green-300: hsla(106, 83%, 70%, 1);
  --color-mint-green-400: hsla(107, 76%, 55%, 1);
  --color-mint-green-500: hsla(108, 79%, 44%, 1);
  --color-mint-green-600: hsla(109, 84%, 35%, 1);
  --color-mint-green-700: hsla(110, 77%, 27%, 1);
  --color-mint-green-800: hsla(110, 67%, 23%, 1);
  --color-mint-green-900: hsla(112, 59%, 20%, 1);
  --color-mint-green-950: hsla(114, 80%, 10%, 1);
  --color-persian-green-50: hsla(166, 76%, 97%, 1);
  --color-persian-green-100: hsla(168, 82%, 89%, 1);
  --color-persian-green-200: hsla(169, 78%, 78%, 1);
  --color-persian-green-300: hsla(171, 73%, 64%, 1);
  --color-persian-green-400: hsla(173, 61%, 50%, 1);
  --color-persian-green-500: hsla(174, 75%, 40%, 1);
  --color-persian-green-600: hsla(175, 79%, 36%, 1);
  --color-persian-green-700: hsla(176, 73%, 26%, 1);
  --color-persian-green-800: hsla(177, 66%, 22%, 1);
  --color-persian-green-900: hsla(178, 57%, 19%, 1);
  --color-persian-green-950: hsla(180, 80%, 10%, 1);
  --color-geebung-50: hsla(49, 67%, 95%, 1);
  --color-geebung-100: hsla(47, 74%, 88%, 1);
  --color-geebung-200: hsla(44, 75%, 77%, 1);
  --color-geebung-300: hsla(42, 74%, 64%, 1);
  --color-geebung-400: hsla(40, 72%, 53%, 1);
  --color-geebung-500: hsla(37, 71%, 50%, 1);
  --color-geebung-600: hsla(32, 73%, 40%, 1);
  --color-geebung-700: hsla(27, 69%, 33%, 1);
  --color-geebung-800: hsla(23, 62%, 29%, 1);
  --color-geebung-900: hsla(21, 56%, 26%, 1);
  --color-geebung-950: hsla(18, 64%, 14%, 1);
  --color-calypso-50: hsla(185, 68%, 96%, 1);
  --color-calypso-100: hsla(187, 67%, 90%, 1);
  --color-calypso-200: hsla(189, 66%, 82%, 1);
  --color-calypso-300: hsla(190, 66%, 69%, 1);
  --color-calypso-400: hsla(191, 61%, 53%, 1);
  --color-calypso-500: hsla(192, 67%, 43%, 1);
  --color-calypso-600: hsla(194, 65%, 36%, 1);
  --color-calypso-700: hsla(196, 59%, 32%, 1);
  --color-calypso-800: hsla(197, 49%, 27%, 1);
  --color-calypso-900: hsla(199, 45%, 24%, 1);
  --color-calypso-950: hsla(200, 55%, 15%, 1);
}
