:root {
  --color-red-50: hsla(7, 100%, 98%, 1);
  --color-red-100: hsla(10, 97%, 95%, 1);
  --color-red-200: hsla(7, 99%, 87%, 1);
  --color-red-300: hsla(7, 100%, 80%, 1);
  --color-red-400: hsla(5, 96%, 72%, 1);
  --color-red-500: hsla(1, 87%, 63%, 1);
  --color-red-600: hsla(0, 60%, 52%, 1);
  --color-red-700: hsla(1, 54%, 43%, 1);
  --color-red-800: hsla(3, 53%, 34%, 1);
  --color-red-900: hsla(3, 50%, 27%, 1);
  --color-orange-50: hsla(24, 85%, 98%, 1);
  --color-orange-100: hsla(25, 96%, 93%, 1);
  --color-orange-200: hsla(24, 95%, 82%, 1);
  --color-orange-300: hsla(25, 94%, 71%, 1);
  --color-orange-400: hsla(24, 96%, 59%, 1);
  --color-orange-500: hsla(25, 83%, 48%, 1);
  --color-orange-600: hsla(25, 85%, 39%, 1);
  --color-orange-700: hsla(24, 83%, 33%, 1);
  --color-orange-800: hsla(25, 84%, 26%, 1);
  --color-orange-900: hsla(25, 82%, 21%, 1);
  --color-yellow-50: hsla(37, 100%, 97%, 1);
  --color-yellow-100: hsla(38, 100%, 89%, 1);
  --color-yellow-200: hsla(40, 91%, 72%, 1);
  --color-yellow-300: hsla(45, 86%, 50%, 1);
  --color-yellow-400: hsla(45, 86%, 43%, 1);
  --color-yellow-500: hsla(44, 79%, 38%, 1);
  --color-yellow-600: hsla(43, 73%, 32%, 1);
  --color-yellow-700: hsla(43, 69%, 27%, 1);
  --color-yellow-800: hsla(42, 62%, 23%, 1);
  --color-yellow-900: hsla(42, 58%, 18%, 1);
  --color-green-50: hsla(85, 68%, 96%, 1);
  --color-green-100: hsla(83, 62%, 87%, 1);
  --color-green-200: hsla(84, 64%, 68%, 1);
  --color-green-300: hsla(84, 71%, 47%, 1);
  --color-green-400: hsla(84, 79%, 40%, 1);
  --color-green-500: hsla(84, 81%, 34%, 1);
  --color-green-600: hsla(83, 81%, 27%, 1);
  --color-green-700: hsla(84, 80%, 23%, 1);
  --color-green-800: hsla(84, 82%, 18%, 1);
  --color-green-900: hsla(83, 78%, 14%, 1);
  --color-blue-50: hsla(198, 90%, 98%, 1);
  --color-blue-100: hsla(200, 87%, 92%, 1);
  --color-blue-200: hsla(199, 84%, 80%, 1);
  --color-blue-300: hsla(199, 83%, 68%, 1);
  --color-blue-400: hsla(198, 83%, 54%, 1);
  --color-blue-500: hsla(199, 90%, 43%, 1);
  --color-blue-600: hsla(199, 89%, 36%, 1);
  --color-blue-700: hsla(198, 88%, 30%, 1);
  --color-blue-800: hsla(199, 87%, 24%, 1);
  --color-blue-900: hsla(199, 88%, 19%, 1);
  --color-slate-50: hsla(208, 23%, 98%, 1);
  --color-slate-100: hsla(214, 17%, 94%, 1);
  --color-slate-200: hsla(214, 14%, 84%, 1);
  --color-slate-300: hsla(213, 15%, 75%, 1);
  --color-slate-400: hsla(216, 14%, 66%, 1);
  --color-slate-500: hsla(214, 14%, 56%, 1);
  --color-slate-600: hsla(215, 17%, 46%, 1);
  --color-slate-700: hsla(214, 16%, 39%, 1);
  --color-slate-800: hsla(214, 17%, 31%, 1);
  --color-slate-900: hsla(214, 17%, 24%, 1);
  --color-stone-50: hsla(0, 0%, 98%, 1);
  --color-stone-100: hsla(359, 4%, 93%, 1);
  --color-stone-200: hsla(28, 5%, 83%, 1);
  --color-stone-300: hsla(22, 4%, 74%, 1);
  --color-stone-400: hsla(23, 5%, 64%, 1);
  --color-stone-500: hsla(24, 5%, 54%, 1);
  --color-stone-600: hsla(22, 5%, 45%, 1);
  --color-stone-700: hsla(24, 6%, 37%, 1);
  --color-stone-800: hsla(23, 6%, 29%, 1);
  --color-stone-900: hsla(22, 5%, 23%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-dark: hsla(12, 6%, 15%, 1);
  --color-darken: hsla(12, 6%, 15%, 0.1);
  --color-lighten: hsla(0, 0%, 98%, 0.05);
}
