:root {
  --theme-background: var(--color-stone-50);
  --theme-background-clean: white;
  --theme-background-offset: var(--color-slate-100);
  --theme-text: var(--color-dark);
  --theme-text-subtle: var(--color-stone-700);
  --theme-background-mask: var(--color-darken);
  --theme-divide: var(--color-stone-200);
  --theme-accent: var(--color-blue-800);
  --theme-shadow-highlight: var(--color-stone-200);
  --theme-shadow-lowlight: var(--color-stone-400);
  --theme-input-background: var(--theme-background-clean);
  --theme-input-border: var(--color-stone-300);
  --theme-input-highlight: var(--color-stone-300);
  --theme-input-lowlight: var(--color-stone-500);
  --theme-syntax-highlight: var(--color-yellow-100);
  --theme-highlight: var(--color-yellow-100);
  --theme-insert: var(--color-green-100);
  --theme-delete: var(--color-red-100);
  --theme-link-0: var(--color-indigo-50);
  --theme-link-1: var(--color-indigo-100);
  --theme-link-2: var(--color-indigo-200);
  --theme-link-3: var(--color-indigo-300);
  --theme-link-4: var(--color-indigo-400);
  --theme-link-5: var(--color-indigo-500);
  --theme-link-6: var(--color-indigo-600);
  --theme-link-7: var(--color-indigo-700);
  --theme-link-8: var(--color-indigo-800);
  --theme-link-9: var(--color-indigo-900);
  --theme-update-primary: var(--color-stone-700);
  --theme-update-secondary: var(--color-stone-200);
  --theme-update-tertiary: var(--color-stone-100);
  --theme-tip-primary: var(--color-slate-700);
  --theme-tip-secondary: var(--color-slate-200);
  --theme-tip-tertiary: var(--color-slate-100);
  --theme-info-primary: var(--color-blue-700);
  --theme-info-secondary: var(--color-blue-200);
  --theme-info-tertiary: var(--color-blue-100);
  --theme-warn-primary: var(--color-yellow-700);
  --theme-warn-secondary: var(--color-yellow-100);
  --theme-warn-tertiary: var(--color-yellow-50);
  --theme-stop-primary: var(--color-red-600);
  --theme-stop-secondary: var(--color-red-100);
  --theme-stop-tertiary: var(--color-red-50);
}
