<article>
  <%= render Pages::Header.new(title: "Admin") %>
  <div class="section-content container py-gap mb-3xl">
    <ul>
      <% @nav.each do |label, url| %>
      <li>
        <p class="font-semibold leading-6">
          <%= link_to url do %>
            <%= label %>
          <% end %>
        </p>
      </li>
      <% end %>
    </ul>
  </div>
</article>

<% content_for :head do %>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    if (window.channels?.heartbeat?.subscribe) {
      console.log('Subscribing to Action Cable heartbeat channel');
      window.channels.heartbeat.subscribe();
    }
  });
</script>
<% end %>
