<%
nav = {
  "Flipper" => "/admin/flipper",
  "Mission Control Jobs" => "/admin/jobs",
  "Litestream" => "/admin/litestream",
}
%>
<article>
  <%= render Pages::Header.new(title: "Admin") %>
  <div class="container">
    <ul role="list" class="divide-y divide-gray-100">
      <% nav.each do |label, url| %>
      <li class="relative flex py-5">
        <div class="flex min-w-0 gap-x-4">
          <div class="min-w-0 flex-auto">
            <p class="font-semibold leading-6">
              <%= link_to url do %>
                <span class="absolute inset-x-0 -top-px bottom-0"></span>
                <%= label %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="flex shrink-0 items-center gap-x-4">
          <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
          </svg>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</article>

<% content_for :head do %>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    if (window.channels?.heartbeat?.subscribe) {
      console.log('Subscribing to Action Cable heartbeat channel');
      window.channels.heartbeat.subscribe();
    }
  });
</script>
<% end %>
