<div class="container">
  <div class="row">
    <header class="col-md-12">
      <h1>Admin</h1>
    </header>

    <div class="col-md-12">
      <ul>
        <li><a href="/admin/flipper">Flipper</a></li>
        <li><a href="/admin/roles">Roles</a></li>
        <li><a href="/admin/permissions">Permissions</a></li>
      </ul>
    </div>
  </div>
</div>
