<div class="container">
  <div class="row">
    <section class="max-w-screen-lg py-16 mx-auto lg:py-20">
      <h1 class="pb-16 text-2xl font-bold text-center md:text-4xl">Admin</h1>
    </section>
  </div>
  <ul role="list" class="divide-y divide-gray-100">
    <li class="relative flex py-5">
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="font-semibold leading-6">
            <a href="/admin/flipper">
              <span class="absolute inset-x-0 -top-px bottom-0"></span>
              Flipper
            </a>
          </p>
        </div>
      </div>
      <div class="flex shrink-0 items-center gap-x-4">
        <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
      </div>
    </li>
    <li class="relative flex py-5">
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="font-semibold leading-6">
            <a href="/admin/jobs">
              <span class="absolute inset-x-0 -top-px bottom-0"></span>
              Mission Control Jobs
            </a>
          </p>
        </div>
      </div>
      <div class="flex shrink-0 items-center gap-x-4">
        <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    if (window.channels?.heartbeat?.subscribe) {
      console.log('Subscribing to Action Cable heartbeat channel');
      window.channels.heartbeat.subscribe();
    }
  });
</script>
