<p>To add this web app to your homescreen on Chrome for Android:</p>

<ol>
  <li>Tap the menu button (three dots) in the top-right corner of the screen.</li>
  <li>From the menu, select "Add to Home screen".</li>
  <li>Customize the name for the app (optional) and tap "Add".</li>
  <li>The Joy of Rails icon will now be added to your home screen.</li>
</ol>
<p>Now you can access the web app by tapping the icon on your home screen.</p>
