<p>To add this web app to your home screen on Firefox for Android:</p>
<ol>
  <li>Tap the menu button (three vertical dots) in the top-right corner of the browser.</li>
  <li>From the menu, select "Install".</li>
  <li>The Joy of Rails icon will now be added to your home screen.</li>
</ol>
<p>Now you can access the web app by tapping the icon on your home screen.</p>
