<p>To add this web app to your home screen on <%= @installation_instructions.os_name %>:</p>
<ol>
  <li>Tap the <strong>Share</strong> button.</li>
  <li>Scroll down and tap <strong>Add to Home Screen</strong>.</li>
  <li>Customize the name of the app (optional) and tap <strong>Add</strong>.</li>
  <li>The Joy of Rails icon will now be added to your home screen.</li>
</ol>
<p>Now you can access the web app by tapping the icon on your home screen.</p>
