<p>To add this web app to your home screen on <%= @installation_instructions.os_name %>:</p>

<ol>
  <li>Tap the <strong>Share</strong> button at the bottom of the screen.</li>
  <li>Scroll down and tap on <strong>Add to Home Screen</strong>.</li>
  <li>Customize the name for the app if desired, and then tap <strong>Add</strong>.</li>
</ol>

<p>Now you should see the app icon on your homescreen. Tap it to open the web app directly.</p>
