<p>I haven‘t had a chance to research this user agent but it may be similar to <%= link_to "Edge on macOS", pwa_installation_instructions_path(user_agent_nickname: "macos_edge") %> or <%= link_to "Edge on Windows", pwa_installation_instructions_path(user_agent_nickname: "windows_edge") %>.</p>
