<p>I haven‘t had a chance to research this user agent but it may be similar to <%= link_to "Chrome on macOS", pwa_installation_instructions_path(user_agent_nickname: "macos_chrome") %> or <%= link_to "Chrome on Windows", pwa_installation_instructions_path(user_agent_nickname: "windows_chrome") %>.</p>
