<p>To add this web app as a standalone application:</p>
<ol>
  <li>Click on monitor icon in the address bar.</li>
  <li>Review the installation prompt and click "Install".</li>
  <li>The Joy of Rails icon will now be added as a standalone application.</li>
</ol>
<p>Once the installation is complete, you can access the web application directly from your macOS device's applications or launchpad.</p>
