.anchor {
  @apply relative scroll-mt-20;
}

.anchor-link {
  @apply flex flex-col justify-center my-auto absolute opacity-0 focus:opacity-60 group-hover:opacity-60 hover:opacity-60;
  transform: translateX(-150%);
  top: 0px;
  left: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  transition: opacity 250ms ease 0s;
  opacity: 0;
}
