@import './theme.css';
@import './highlight.css';
@import './anchors.css';
@import './components/table-of-contents.css';
@import './components/code.css';

html {
  height: 100%;
}

svg.app-dots {
  display: inline;
  vertical-align: top;
}
