@import './theme.css';
@import './highlight.css';
@import './components.css';

html {
  @apply bg-joy-bg-2;
  height: 100%;
}

body {
  &:has(dialog[open]) {
    overflow: hidden;
    padding-right: 15px;
  }
}

dialog {
  max-width: min(90%, 940px);
}
