@import 'config/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.site-header,
.footer-content,
.container {
  width: 100%;
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

body > *,
main > *,
.header-content,
.section-content,
.footer-content,
.main-content,
.grid-content,
.article-content {
  display: grid;
}

main > * {
  row-gap: var(--grid-gutter);
}

.grid-gap {
  grid-gap: var(--grid-gutter);
}

body > *,
main > *,
.header-content {
  grid-template-columns: 1fr;
}

.footer-content {
  grid-template-columns: 2fr;
}

.main-content,
.article-content,
.grid-content {
  grid-gap: var(--grid-gutter);
  grid-template-columns: repeat(var(--grid-columns), [col-start] 1fr);
  grid-template-rows: minmax(calc(var(--leading) * 1em), max-content);
}

.main-content,
.section-content,
.article-content,
.grid-content,
.grid-row-mid {
  grid-auto-flow: row;
  row-gap: var(--space-m);
}

.header-content,
.footer-content,
.grid-row-tight {
  grid-auto-flow: row;
  row-gap: var(--space-3xs-2xs);
}

.main-content > *,
.article-content > *,
.grid-content > * {
  grid-column: col-start 1 / span var(--grid-columns);
}

.row-gap-m {
  row-gap: var(--space-m);
}

.col-gap-m {
  column-gap: var(--space-m);
}

@media screen and (min-width: $screen-lg) {
  .article-content > *,
  .grid-content > * {
    grid-column: col-start 1 / span 8;
  }
  .article-content > .outside,
  .grid-content > .outside {
    grid-column: col-start 9 / span 4;
  }
  .article-content > img,
  .article-content > .pull-right {
    grid-column: col-start 9 / span 4;
    grid-row-start: span 4;

    &.row-span-2 {
      grid-row-start: span 2;
    }
  }

  // For making blocks span the full width of the article
  .article-content > .stretch {
    grid-column: col-start / span var(--grid-columns);
  }
}
