<div id="example_<%= example.basename(".*") %>">
  <%= render CodeBlock.new(example.source, language: "ruby", filename: example.app_path, enable_run: true) %>
  <%= link_to "Source", example.repo_url %>
</div>
