<div class="container lg:mt-12 md:mt-8">
  <div class="lg:flex lg:flex-row-reverse">
    <article class="prose dark:prose-invert sm:prose-lg lg:prose-xl">
      <%= code_block_component "1 + 1", "ruby:main.rb", runnable: true %>
    </article>
  </div>
</div>
