<% example_1 = File.read(Rails.root.join('app', 'views', 'examples', 'example_1.rb')) %>
<div class="container lg:mt-12 md:mt-8">
  <div class="lg:flex lg:flex-row-reverse">
    <article class="prose dark:prose-invert sm:prose-lg lg:prose-xl">
      <%= code_block_component(example_1, "ruby:main.rb", runnable: true) %>
    </article>
  </div>
</div>
