<%= render Pages::Header.new(title: "Snippet Screenshot") %>
<div class="section-content container py-gap">
  <%= render Share::SnippetScreenshots::Form.new(@snippet) %>

  <br>

  <div>
    <%= link_to "Back to snippets", share_snippets_path %>
  </div>
</div>
