<%= render Pages::Header.new(title: "Snippet Screenshot") %>
<div class="section-content container py-gap">
  <%= turbo_frame_tag :snippet_form do %>
    <%= render Share::SnippetScreenshots::Form.new(@snippet) %>
  <% end %>

  <br>

  <div>
    <%= link_to "Back to snippets", share_snippets_path %>
  </div>
</div>
