<div class="newsletter-banner">
  <h3 class="font-semibold text-theme-header-3 mb-2">Joy of Rails Newsletter</h3>
  <p>Sign up for an occasional email highlighting Ruby on Rails insights and inspiration.</p>
  <%= render "newsletter/form" %>
</div>
