<div class="newsletter-banner my-32">
  <h3 class="font-semibold text-joy-header-3 mb-2 text-2xl">The Joy of Rails Newsletter:
    <span class="text-joy-header-5 mb-2">A spark of joy for your inbox</span>
  </h3>
  <p class="mb-4">I'll notify you when I post new content about Ruby on Rails. No spam.
    Unsubscribe at any time.</p>
  <%= render "newsletter/form" %>
</div>
