<div class="newsletter-banner section-content container lg:grid-cols-1/2">
  <h3 class="font-semibold">The Joy of Rails Newsletter:
    <span class="text-joy-header-5 mb-2">A spark of joy for your inbox</span>
  </h3>
  <div>
    <p class="mb-4">I'll notify you when I post new content about Ruby on Rails. No spam.
      Unsubscribe at any time.</p>
    <%= render "newsletter/form" %>
  </div>
</div>
