<form
  action="https://buttondown.email/api/emails/embed-subscribe/joyofrails"
  method="post"
  target="popupwindow"
  class="lg:w-1/2"
  onsubmit="window.open('https://buttondown.email/joyofrails', 'popupwindow')"
>
  <div class="flex flex-row items-center mt-2">
    <div class="flex-grow mr-2">
      <input
        type="email"
        name="email"
        id="bd-email"
        autocomplete="email"
        class="
          flex-1 rounded bg-white/5 py-1.5 pl-3
          text-white sm:leading-6
          focus-ring focus:ring-0
          ring-1 ring-inset ring-white/10
          w-full lg:min-w-[36ch]
        "
        placeholder="name@example.com"
      >
    </div>
    <div>
      <input type="submit" value="Subscribe" class="button primary focus-ring">
    </div>
  </div>
</form>
