<%= turbo_frame_tag answer do %>
  <div class="answer">
    <div class="answer__name">
      <%= answer.body %>
    </div>
    <div class="answer__actions">
      <%= button_to "Delete",
            poll_answer_path(poll, answer),
            method: :delete,
            class: "button transparent" %>
      <%= link_to "Edit",
            edit_poll_answer_path(poll, answer),
            class: "button transparent" %>
    </div>
  </div>
<% end %>
