<%= render Pages::Header.new(title: "Admin: Create Newsletter") %>
<div class="section-content container py-gap mb-3xl">
  <%= render "form", newsletter: @newsletter %>

  <div>
    <%= link_to "Back to newsletters", admin_newsletters_path %>
  </div>
</div>
