footer {
  background-color: var(--theme-background-footer);
}

.footer-content {
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);

  & nav > * {
    display: flex;
    padding-top: var(--space-2xs-xs);
    padding-bottom: var(--space-2xs-xs);
  }
}
