section:has(.newsletter-banner) {
  background-color: var(--joy-background-banner);
}

.newsletter-banner {
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);

  & h3 {
    align-self: start;

    & span {
      color: var(--joy-link-primary);
    }
  }
}
