header {
  background-color: var(--theme-background-highlight);
}

.site-header {
  width: 100%;
  margin-block-start: var(--space-m);
  margin-block-end: var(--space-xs-s);
  padding-block-end: var(--space-xs-s);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
