<footer class="bg-gray-50 dark:bg-gray-900 print:hidden dark:text-gray-200">
  <div class="container">
    <nav aria-label="footer" class="flex flex-col items-center justify-between w-full gap-6 pt-16 pb-16 space-y-6 md:space-y-0 md:flex-row md:items-start md:pt-14 lg:pb-40">
      <div class="flex flex-col items-center h-full space-y-5 md:items-start max-w-[18rem]">
        <%= link_to root_path, class: "flex flex-col items-center space-y-3 text-center md:flex-row md:items-start md:text-left md:space-x-2 md:space-y-0" do %>
          <div class="flex-shrink-0 w-12 md:w-8">
            <%= inline_svg_tag "turtle-logo.svg", class: "fill-gray-900 dark:fill-gray-100" %>
          </div>
          <div class="mt-1 text-lg font-semibold tracking-tight leading-tighter">Sharing and experiencing the Joy of Rails</div>
        <% end %>
      </div>
      <div class="grid items-center w-full grid-cols-1 text-center md:grid-cols-2 lg:pr-6 md:gap-10 md:text-left md:items-start md:w-auto">
        <ul>
          <li class="py-1 text-base leading-relaxed md:text-sm"><a class="transition-colors duration-150 ease-in-out hover:text-blue-600" href="/articles">Articles</a></li>
        </ul>
        <ul>
          <li class="py-1 text-base leading-relaxed md:text-sm"><a class="transition-colors duration-150 ease-in-out hover:text-blue-600" href="mailto:support@joyofrails.com">support@joyofrails.com</a></li>
        </ul>
      </div>
    </nav>
    <small class="flex items-center justify-center w-full py-6 space-x-6 text-xs text-gray-500 md:justify-end dark:text-gray-300">
      <div>©joyofrails.com</div>
      <a class="" href="/privacy">Terms &amp; Conditions</a>
      <a class="" href="/faq">FAQ</a>
      <div class="flex items-center justify-between">
        <h2 class="hidden mr-3 sm:block">Light Mode</h2>
        <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5" aria-label="Toggle Dark Mode" role="button"
>
          <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
          <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
        </button>
      </div>
    </small>
  </div>
</footer>
