<%= tag.footer class: "" do %>
  <div class="footer-content py-xl lg:py-3xl">
    <%= link_to root_path, class: "logo" do %>
      <div class="">
        <%= inline_svg_tag "joy-logo.svg", class: "fill-current" %>
      </div>
      <div class=""><span class="font-bold">Sharing and experiencing the</span>
        <span class="">Joy of Rails</span>
      </div>
    <% end %>
    <nav
      class="">
      <ul>
        <li class="">
          <a
            class=""
            href="/articles">Articles</a>
        </li>
      </ul>
      <ul>
        <li class="">
          <a class=""
            href="/about">About</a>
        </li>
      </ul>
      <ul>
        <li class=""><a
            class=""
            href="mailto:hello@joyofrails.com">hello@joyofrails.com</a></li>
      </ul>
    </nav>
    <div>
      <small class="">
        <div>© 2023-present joyofrails. All rights reserved.</div>
        <%#
        <a class="" href="/terms">Terms &amp; Conditions</a>
        <a class="" href="/privacy">Privacy Policy</a>
        <a class="" href="/faq">FAQ</a>
        %>
      </small>
    </div>
  </div>
<% end %>
