<%= tag.header class: header_classes, aria: { label: "header" } do %>
  <div class="container flex items-center justify-between w-full h-full sticky">
    <%= link_to root_path, class: "text-theme-title flex items-center pr-2" do %>
      <div class="flex-shrink-0 w-12 md:w-8">
        <%= inline_svg_tag "joy-logo.svg", class: "fill-current", style: "max-width: 32px;" %>
      </div>
      <span class="inline-block text-lg font-['Russo_One']">Joy of Rails</span>
    <% end %>
    <nav class="flex items-center px-1">
      <a
        class="
          flex items-center h-full px-2
          rounded mr-2
          hover:bg-theme-bg-hover
        "
        href="/articles"
      >Articles</a>
      <%= render "darkmode/switch" %>
    </nav>
  </div>
<% end %>
