<div data-controller="darkmode" class="flex items-center justify-between">
  <span
    aria-label="Change Color Scheme"
    data-darkmode-target="description"
    data-action="click->darkmode#cycle"
    class="hidden mr-3 cursor-pointer"
  >Light Mode</span>
  <button
    data-action="click->darkmode#cycle"
    id="theme-cycle"
    type="button"
    class="
      text-gray-500 dark:text-gray-400 hover:bg-theme-bg-hover focus:ring-gray-200
      dark:focus:ring-gray-700 focus:ring-2 focus:outline-none rounded-lg text-sm
      p-2.5
    "
    aria-label="Change Color Scheme"
    role="button"
  >
    <%= inline_svg_tag "darkmode/moon.svg", data: { "darkmode-target" => "darkIcon" }, class: "hidden w-5 h-5", fill: "currentColor" %>
    <%= inline_svg_tag "darkmode/sun.svg", data: { "darkmode-target" => "lightIcon" }, class: "hidden w-5 h-5", fill: "currentColor" %>
    <%= inline_svg_tag "darkmode/eclipse.svg", data: { "darkmode-target" => "systemIcon" }, class: "hidden w-5 h-5", fill: "currentColor" %>
  </button>
</div>
