<div data-controller="pwa-web-push" class="pwa-web-push group">
  <%= button_tag "Subscribe to Push Notifications",
    data: {
      action: "pwa-web-push#subscribe",
      "pwa-web-push-target": "subscribeButton"
    },
    class: "subscribe button primary" %>

  <%= button_tag "Unsubscribe from Push Notifications",
    data: {
      action: "pwa-web-push#unsubscribe",
      "pwa-web-push-target": "unsubscribeButton"
    },
    class: "unsubscribe button subtle" %>
</div>
